body {
    display: flex;
    flex-direction: column; 
    gap: 24px;
    background-color: #1F2937; 
}
.header,
.content {
    display: flex; 
    padding: 10px 48px;
}
.header .links {
    display: flex;
}

/*header*/
.header {
    justify-content: space-between;
   justify-content: center;
    align-items: center;
}
.header .links {
    gap: 16px;
    width: 400px;
   
    
}
.links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    min-width: fit-content;
}
.header .logo {
   
    width: 500px;
    min-width: fit-content;
    

}
/*styling_header*/
.header .logo img {
    width: 130px;
    height: 120px;
    border-radius: 8px;
    border: 2px solid gold;
}

.header .links a:hover {
    font-size: 32px;
    color: grey;
}
.header .links a:active{
    color: gold;
}
/*content*/
.content {
    justify-content: center;
    gap: 40px;
    align-items: center;
    padding-bottom: 60px;
}
.content .info {
    width: 680px;
   
}
.content .image {
    width: 400px;
    height: 300px;
    border: 3px solid gold;
    border-radius: 8px;
    
}
.info h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: -10px;
}
.info p {
    font-size: 18px;
    color: #F9FAF8;
}
.info button {
    border-radius: 8px;
    background-color: #3882F6;
}
.info button a {
    text-decoration: none;
    color: #F9FAF8;
    padding: 12px;
}
/* styling_image in the content block*/
.content .image img {
    width: 400px;
    height: 300px;
}
.info button a:hover {
    font-size: 32px;
    color: grey;
}
.info button a:active {
    color: gold;
}
/* Finished the header portion*/
/*block1*/
.block1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
   align-items: center;
   background-color: white;
  padding: 30px;
    
}
.child-block {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
}
/*styling*/
.child-block .part {
    width: 180px;
      
}
.child-block .part img {
    min-width: 180px;
    min-height: 130px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}
.child-block .part .description {
    text-align: center;
}
.block1 .extra-info {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}
.qoute {
    display: flex;
    background-color: #E5E7EB;

    justify-content: center;
    height: 100px;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 20px;
    margin-top: -25px;
   
}
/*block3*/
.block2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 24px;
    margin-top: -24px;
    color: #E5E7EB;
}
.content-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    background-color: #3882F6;
    padding: 24px;
   border-radius: 4px;
   
}
/*styling*/
.content-block .button-block button {
    background-color: #3882F6;
    border-radius: 8px;
    border-color: #E5E7EB;
    padding: 4px;
}
.content-block .button-block a {
    text-decoration: none;
    color: #E5E7EB;
   
}
/*footer*/
.footer {
    text-align: center;
    padding: 12px;
    color: #E5E7EB;
}